.fab {
  color: white;
  text-transform: none;
  line-height: 1;
  display: flex;
  align-items: center;
}

.font {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
